<button class="btn btn-primary" (click)="increment()">+1</button>
<button class="btn btn-primary" (click)="decrement()">-1</button>
<!-- <button class="btn btn-primary">按钮</button>

<div *ngIf="list.length === 0; then noData else listData"></div>

<ng-template #noData>
  没有数据
</ng-template>

<ng-template #listData>
  <ul>
    <li *ngFor="
      let item of list;
      let i = index;
      let isOdd = odd;
      trackBy: inentify
    "
      [ngClass]="{odd: isOdd}"
    >
      <p>
        {{ item.name }}
        索引{{ i }}
      </p>
    </li>
  </ul>
</ng-template>

<div [appHover]="{bgColor: 'red'}">appHover</div>

<div>{{ paragraph | summary:20 }}</div>

<app-person (sendData)="getData($event)" name="张" age="20"></app-person>


<app-child [name]="username">
  <div #box>hello</div>
</app-child>

<button (click)="change()">改变</button> -->

<!-- <app-demo></app-demo> -->

<!-- <form [formGroup]="contactForm" (submit) ="onSubmit()">
  <input type="text" formControlName="username" />
  <input type="text" formControlName="phone" />
  <button>提交</button>
</form> -->
<!--
<app-form-array></app-form-array>

<app-validators></app-validators>

<app-form-builder></app-form-builder> -->

<!-- <app-checkbox></app-checkbox> -->

<!-- <router-outlet></router-outlet> -->
